.team-item > div > div > p {
	font-size: 1.2rem;
}
.audio-works-link:hover {
	color: white !important;
	opacity: 0.5;
}
.grey-font {
	color: #767676;
}
.iframe-partings-div {
	position: relative;
	width: 100%;
	padding-top: 100%;
	padding-top: 56.25%;
}
.iframe-partings {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.com-buy[type='submit'] {
	border-radius: 100px;
	/* cursor: pointer;
	margin: 0;
	font-size: 1rem;
	background: none;
	border-color: #da2326;
	color: #da2326;
	padding: 1rem 3rem;
	line-height: calc(1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)))); */
}
/* .com-buy[type='submit']:hover {
	color: #b3181b;
	background-color: #f7e22d;
	border-color: #f7e22d;
} */
@media (min-width: 576px) {
}
@media (min-width: 768px) {
	.home-card-text {
		min-height: 325px;
	}
	.home-card-title {
		min-height: 110px;
	}
}
@media (min-width: 992px) {
	.iframe-video-div {
		max-width: 450px;
	}
}
@media (min-width: 1200px) {
	.iframe-video-div {
		max-width: 550px;
	}
	.iframe-container-partings {
		width: 60%;
	}
}
@media (max-width: 1199.98px) {
	.margin-lilts-soundcloud {
		margin: 4rem 0rem !important;
	}
	.home-card-button {
		min-height: 60px;
	}
	.iframe-container-partings {
		padding: 6% 15% !important;
	}
}
@media (max-width: 991.98px) {
	.team-item {
		width: 26%;
	}
	.team-item > div > div > p {
		font-size: 0.9rem;
	}
	.margin-lilts-soundcloud {
		margin: 0 !important;
	}
	.home-cards {
		margin-bottom: 1.5em;
	}
	#services1-a {
		padding-right: 2.5em;
		padding-left: 2.5em;
	}
	.iframe-container-partings {
		padding: 8% 10% !important;
	}
	#map-poster {
		width: 85%;
		border-bottom: #efefef solid 3.5em;
	}
	.map-p-toggle-on {
		display: inline-block;
		width: 85%;
		margin: auto;
		background-color: #efefef;
		border-top: #efefef solid 3.7em;
		color: black;
	}
	.map-poster-toggle-off {
		display: none;
	}
	.info-div-map-toggle-off {
		display: none;
	}
	.map-poster-close {
		position: absolute;
		left: 90%;
		bottom: 100%;
	}
	.map-poster-info {
		position: absolute;
		bottom: 0.5em;
		left: 48%;
	}
	.map-p-toggle-off {
		display: none;
	}
}
@media (max-width: 767.98px) {
	.flip-card-container {
		max-width: none !important;
	}
	.flip-card-container {
		max-width: 380px !important;
	}
	#services1-a {
		padding-right: 3.5em;
		padding-left: 4.5em;
	}
	.iframe-container-partings {
		padding: 15% 0% !important;
	}
	#map-poster {
		width: 75%;
	}
	.map-p-toggle-on {
		max-width: 79%;
	}
	.map-poster-close {
		left: 90%;
		bottom: 101%;
	}
	.map-poster-info {
		bottom: 0.3em;
		left: 42%;
	}
}
@media (max-width: 575.98px) {
	.team-item {
		width: 65%;
	}
	.cid-rnDRUkIqAY {
		display: none;
	}
	.cid-rnE1HgnRfz .section-text {
		margin: 0 1.5em;
	}
	.cid-rnE1bmByu0 > div {
		padding: 15px 25px;
	}
	#services1-a {
		padding-right: 1.5em;
		padding-left: 1.5em;
	}
}
