.team-item > div > div > p {
	font-size: 1.2rem;
}
.audio-works-link:hover {
	color: white !important;
	opacity: 0.5;
}
.grey-font {
	color: #767676;
}
.iframe-partings-div,
.maintain-aspect-ratio {
	position: relative;
	width: 100%;
	padding-top: 100%;
	padding-top: 56.25%;
}
.iframe-partings,
.maintain-aspect-ratio > iframe {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.com-buy[type='submit'],
.com-buy[type='button'] {
	border-radius: 100px;
	padding: 1rem 3rem;
	min-width: 220px;
}
.btn-md-nomargin {
	font-weight: 500;
	letter-spacing: 1px;
	transition: all 0.3s ease-in-out;
	padding: 1rem 3rem;
	border-radius: 3px;
}
/* //transition: all 0.3s ease-in-out;  */
@media (min-width: 576px) {
}
@media (min-width: 768px) {
	.home-card-text {
		min-height: 325px;
	}
	.home-card-title {
		min-height: 110px;
	}
}
@media (min-width: 992px) {
	.map-quote {
		padding: 0 8%;
	}
}
@media (min-width: 1200px) {
	.iframe-container-partings {
		width: 60%;
	}
	.iframe-video-div-map {
		width: 50%;
	}
	div.iframe-video-div:nth-child(2),
	div.iframe-video-div:nth-child(3) {
		width: 100%;
		padding-left: 5em;
		padding-right: 5em;
	}
}
@media (max-width: 1199.98px) {
	.margin-lilts-soundcloud {
		margin: 4rem 0rem !important;
	}
	.home-card-button {
		min-height: 60px;
	}
	.iframe-container-partings {
		padding: 6% 15% !important;
	}
	.iframe-video-div,
	.iframe-video-div {
		width: 100%;
		padding-left: 3em;
		padding-right: 3em;
	}
	.iframe-video-div-map {
		width: 65%;
	}
}
@media (max-width: 991.98px) {
	.team-item {
		width: 26%;
	}
	.team-item > div > div > p {
		font-size: 0.9rem;
	}
	.margin-lilts-soundcloud {
		margin: 0 !important;
	}
	.home-cards {
		margin-bottom: 1.5em;
	}
	#services1-a {
		padding-right: 2.5em;
		padding-left: 2.5em;
	}
	.iframe-container-partings {
		padding: 8% 10% !important;
	}
	#map-poster {
		width: 60%;
		border-bottom: #efefef solid 3.5em;
	}
	.map-p-toggle-on {
		display: inline-block;
		max-width: 65%;
		margin: auto;
		background-color: #efefef;
		border-top: #efefef solid 3.7em;
		color: black;
		padding: 2.6em 2em;
	}
	.map-poster-toggle-off {
		display: none;
	}
	.info-div-map-toggle-off {
		display: none;
	}
	.map-poster-close {
		position: absolute;
		left: 86%;
		bottom: 98%;
	}
	.map-poster-close > div > button > svg {
		font-size: 1.3em;
	}
	.map-poster-info {
		position: absolute;
		bottom: 0.4em;
		left: 46%;
	}
	.map-p-toggle-off {
		display: none;
	}
	.iframe-video-div {
		width: 70%;
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-width: 767.98px) {
	.flip-card-container {
		max-width: none !important;
	}
	.flip-card-container {
		max-width: 380px !important;
	}
	#services1-a {
		padding-right: 3.5em;
		padding-left: 4.5em;
	}
	.iframe-container-partings {
		padding: 15% 0% !important;
	}
	#map-poster {
		width: 75%;
	}
	.map-p-toggle-on {
		max-width: 79%;
		padding: 0 15px;
	}
	.map-poster-close > div > button > svg {
		font-size: 1.1em;
	}
	.map-poster-close {
		left: 90%;
		bottom: 101%;
	}
	.map-poster-info {
		bottom: 0.3em;
		left: 42%;
	}
	#info-div-map {
		font-size: 1em;
	}
	.iframe-video-div {
		width: 100%;
		padding-left: 5em;
		padding-right: 5em;
	}
}
@media (max-width: 575.98px) {
	.team-item {
		width: 65%;
	}
	.cid-rnDRUkIqAY {
		display: none;
	}
	.cid-rnE1HgnRfz .section-text {
		margin: 0 1.5em;
	}
	.cid-rnE1bmByu0 > div {
		padding: 15px 25px;
	}
	#services1-a {
		padding-right: 1.5em;
		padding-left: 1.5em;
	}
	.map-poster-info {
		left: 40%;
	}
	#info-div-map {
		font-size: 0.9em;
	}
	.map-poster-close {
		left: 85%;
	}
	.iframe-video-div {
		padding-right: 1em;
		padding-left: 1em;
	}
}
